---
import Card from "../../components/Card.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
    title="作品 | Portfolio"
    description="Portfolio of a digital designer specialising in UI/UX, digital design and software engineering. Showcasing creative, user-focused projects and impactful solutions to elevate brands and craft seamless digital experiences."
>
    <Card> <h1>もっと作品を近日公開予定！</h1> </Card>
</MainLayout>
