---
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import NasaImage from "../components/NasaImage.astro";
import PhoneMockup from "../components/PhoneMockup.astro";
import Github from "../icons/github.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Me from "../../public/assets/me.jpeg";
import TravelApp from "../projects/TravelApp.astro";
import TypeWriter from "../components/TypeWriter.astro";
---

<MainLayout title="Home" description="Lorem ipsum dolor sit amet">
	<section
		class="h-[80%] flex flex-col gap-8 p-8 lg:justify-between lg:flex-row lg:pb-42"
	>
		<div
			class="flex flex-2 flex-col gap-4 justify-center items-center lg:items-start"
		>
			<div class="flex flex-col gap-4 flex-wrap">
				<div class="flex justify-start items-center gap-3 flex-wrap">
					<span
						class="px-4 py-2 text-2xl rounded-full bg-zinc-200 dark:bg-zinc-800"
						>👋</span
					>
					<span class="text-2xl text-nowrap">Hello, I am </span>
					<span
						class="px-4 py-2 text-2xl rounded-full text-zinc-100 bg-blue-500"
					>
						Stephen
					</span>
				</div>
				<TypeWriter
					id="typing"
					texts={[
						"UI/UX Designer",
						"Design Engineer",
						"Brand Designer",
						"Software Engineer",
					]}
				/>
			</div>
			<div class="mt-4">
				<Link
					href="/contact"
					class="px-4 py-2 text-xl rounded-full text-zinc-100 bg-blue-500"
				>
					Let's talk
				</Link>
			</div>
		</div>
		<div class="flex flex-1 rounded-full overflow-hidden">
			<img src={Me.src} />
		</div>
	</section>
	<div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
		<section class="flex flex-col gap-4">
			<Card>
				<slot name="card-header">
					<h3 class="font-semibold">
						Stephen Leigh
						<span class="opacity-50">
							- Designing and developing.</span
						>
					</h3>
				</slot>
				<hr class="my-3" />
				<div class="py-4 text-lg text-black dark:text-zinc-300">
					<p>
						I design.<span class="text-zinc-500">
							Wether it be creative designing or planing system
							designs, I draft and iterate to understand the
							project and begin my work crafting a design for
							users, clients or developer.</span
						>
					</p>
					<p>
						I build.<span class="text-zinc-500">
							The next step is the start of the work. Building
							design files and commenting for others, or
							completing deliverables in a development pipeline.</span
						>
					</p>
					<p>
						I find bugs.<span class="text-zinc-500">
							Nobody is perfect. So it is always important to
							check those designs, review code and put it to the
							test to find those imperfections.</span
						>
					</p>
					<p>
						I fix bugs.<span class="text-zinc-500">
							Time to fix the imperfections.</span
						>
					</p>
					<p>
						I deploy.<span class="text-zinc-500">
							Finally the work is done, and I can push it out to
							others.</span
						>
					</p>
					<p>
						I conquer.<span class="text-zinc-500">
							Pour a coffee and enjoy the moment of victory, for
							these moments should be seized.</span
						>
					</p>
					<p>
						Repeat...<span class="text-zinc-500">
							The cycle begins again.</span
						>
					</p>
				</div>
				<slot name="card-footer">
					<div
						class="flex justify-end text-zinc-500 font-bold text-sm"
					>
						- Me, {new Date().getFullYear()}
					</div>
				</slot>
			</Card>
		</section>

		<section
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-1 2xl:grid-cols-2 gap-4"
		>
			<Card>
				<div
					class="-rotate-15 origin-top hover:rotate-0 transition-all"
				>
					<PhoneMockup>
						<TravelApp />
					</PhoneMockup>
				</div>
			</Card>

			<div
				class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4"
			>
				<div class="h-full max-h-96 overflow-hidden">
					<NasaImage />
				</div>

				<Card>
					<slot name="card-header">
						<div class="relative flex items-center justify-between">
							<h5>LeighS95</h5>
							<div class="p-3 rounded-full bg-zinc-900 shadow-sm">
								<Github />
							</div>
						</div>
					</slot>
					<div class="py-3">
						<p class="text-xl">
							Explore and view some of my random <strong
								>Github</strong
							> projects.
						</p>
					</div>
					<slot name="card-footer">
						<a
							href="https://github.com/leighs95"
							target="_blank"
							class="flex items-center justify-center gap-4 px-2 py-1 rounded-full border border-zinc-900 hover:text-white hover:bg-zinc-900 dark:border-zinc-100 cursor-pointer dark:hover:text-black dark:hover:bg-zinc-100 transition-all"
						>
							View my repos
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path d="M15 3h6v6"></path><path
									d="M10 14 21 3"></path><path
									d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
								></path></svg
							>
						</a>
					</slot>
				</Card>
			</div>
		</section>

		<section class="border-2 border-dashed border-zinc-300 rounded p-8">
			<h2 class="text-zinc-300">More work coming soon...</h2>
		</section>
	</div>
</MainLayout>
