<div
    class="relative mx-auto border-black dark:border-black bg-black border-[14px] rounded-[2.5rem] h-[600px] w-[300px]"
>
    <div
        class="h-[32px] w-[3px] bg-black dark:bg-black absolute -start-[17px] top-[72px] rounded-s-lg"
    >
    </div>
    <div
        class="h-[46px] w-[3px] bg-black dark:bg-black absolute -start-[17px] top-[124px] rounded-s-lg"
    >
    </div>
    <div
        class="h-[46px] w-[3px] bg-black dark:bg-black absolute -start-[17px] top-[178px] rounded-s-lg"
    >
    </div>
    <div
        class="h-[64px] w-[3px] bg-black dark:bg-black absolute -end-[17px] top-[142px] rounded-e-lg"
    >
    </div>
    <div
        class="rounded-[2rem] overflow-hidden w-[274px] h-[574px] bg-white dark:bg-black"
    >
        <div class="w-[272px] h-[572px] bg-white dark:bg-black">
            <slot />
        </div>
        <!-- <img
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
            class="dark:hidden w-[272px] h-[572px]"
            alt=""
        />
        <img
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-dark.png"
            class="hidden dark:block w-[272px] h-[572px]"
            alt=""
        /> -->
    </div>
</div>
