---
import { useTheme } from "../hooks/useTheme";
import Moon from "../icons/moon.astro";
---

<button
    id="theme-toggle"
    class="relative h-10 w-10 rounded flex justify-center items-center shadow-lg cursor-pointer hover:bg-zinc-200 dark:bg-zinc-800 dark:hover:bg-zinc-700"
>
    <Moon />
</button>

<script>
    import { useTheme } from "../hooks/useTheme";

    const { toggleTheme } = useTheme();
    const toggleButton = document.getElementById("theme-toggle");

    toggleButton?.addEventListener("click", toggleTheme);
</script>
